.login-container {
  width: 400px;
  margin: auto;
  height: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-container h1{
  color: rgb(91, 159, 236);
}

.login-form {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 1.5rem 1rem;
  line-height: 2rem;
}

.login-form span{
  color:red;
}

.login-form > label > input{
  width:95%;
  padding: .5em;
  font-size:medium;
  border-radius:  grey;
}

.login-form div ~ input{
  padding:.5rem 0;
  color:White;
  background-color: rgb(91, 159, 236);
  border:0;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

.login-form div{
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.login-form div ~ input:hover{
  background:#376c8e;
}